<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>UTILES ESCOLARES</title>
	<link rel="stylesheet" type="text/css" href="css/utiles.css">
    <link rel="stylesheet" href="../../assets/CSS/estilosIndex.css">
    <link rel="stylesheet" type="text/css" href="css/utiles.css">

</head>
<body>

<font size="5"><a href="index.html" style="text-decoration: none;">ATRAS</a></font>
<h1>Pedidos por contra-entrega Pidelos ya!</h1>
<div class="container">
	<div class="card">
		<img src="img/belleza/are.jpg" class="u-full-width" style="width: 160px; height: 190px;">
			<h2>Pares Aretes</h2>
			<p>$ 3.000</p>
			<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar al carrito</a>
	</div>
	<div class="card">
		<img src="img/belleza/base.jpg" class="u-full-width" style="width: 190px; height: 190px;">
			<div class="info-card">
				<h2>Base <br> Basecrema Correctora</h2>
				<p>$ 2.500 - $ 13.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/espe.jpg" class="u-full-width" style="width: 200px; height: 190px;">
			<div class="info-card">
				<h2>Espejo pequeños <br> Espejos dobles</h2>
				<p>$ 700 - $ 1.200</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar al carrito</a>
			</div>
	</div>
</div>

<div class="container">
	<div class="card">
		<img src="img/belleza/ganc.jpg" class="u-full-width" style="width: 220px; height: 190px;">
			<div class="info-card">
				<h2>Ganchos</h2>
				<p>$ 1.500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/lap.jpg" class="u-full-width" style="width: 200px; height: 190px;">
			<div class="info-card">
				<h2>Lapiz de Colores <br> Para ojos</h2>
				<p>$ 1.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar al carrito</a>
			</div>
		</div>
		<div class="card">
			<img src="img/belleza/permu.jpg" class="u-full-width" style="width: 140px; height: 190px;">
				<div class="info-card">
					<h2>Perfume para Mujer</h2>
					<p>$ 90.000</p>
					<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar al carrito</a>
				</div>
		</div>
</div>	

<div class="container">
	<div class="card">
		<img src="img/belleza/pesta.png" class="u-full-width" style="width: 210px; height: 190px;">
			<div class="info-card">
				<h2>Pestañina</h2>
				<p>$ 22.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/pinc.jpg" class="u-full-width" style="width: 220px; height: 190px;">
			<div class="info-card">
				<h2>Pinzas para Cabello <br>Par - Colores</h2>
				<p>$ 500 - $ 1.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/pinl.jpg" class="u-full-width" style="width: 190px; height: 190px;">
			<div class="info-card">
				<h2>Pinzas laso <br>Par</h2>
				<p>$ 1.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar al carrito</a>
				</div>
		</div>
</div>

<div class="container">
	<div class="card">
		<img src="img/belleza/smal.jpg" class="u-full-width" style="width: 210px; height: 190px;">
			<div class="info-card">
				<h2>Esmalte</h2>
				<p>$ 3.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="10">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/spra.jpg" class="u-full-width" style="width: 250px; height: 280px;">
			<div class="info-card">
				<h2>Spray Tropical</h2>
				<p>$ 28.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="11">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/belleza/spray.jpg" class="u-full-width" style="width: 250px; height: 290px;">
			<div class="info-card">
				<h2>Aplicador en Spray</h2>
				<p>$ 10.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="12">Agregar al carrito</a>
			</div>
	</div>
</div>


	<footer class="pie-pagina">
        <div class="grupo-2">
            <small>&copy; 2022 <b>Papeleria La Comarca</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</body>
</html>