<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>UTILES ESCOLARES</title>
	<link rel="stylesheet" type="text/css" href="css/utiles.css">
    <link rel="stylesheet" href="../../assets/CSS/estilosIndex.css">

</head>
<body>

<font size="5"><a href="index.html" style="text-decoration: none;">ATRAS</a></font>
<h1>Pedidos por contra-entrega Pidelos ya!</h1>
<div class="container">
	<div class="card">
		<img src="img/dulces/100.jpg" style="width: 160px; height: 190px;">
			<h2>Dulces</h2>
			<p>$ 100</p>
			<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar al carrito</a>
	</div>
	<div class="card">
		<img src="img/dulces/boca.jpg" style="width: 190px; height: 190px;">
			<div class="info-card">
				<h2>Bocadillo</h2>
				<p>$ 500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/dulces/chi.jpg" style="width: 200px; height: 190px;">
			<div class="info-card">
				<h2>Chitos Natural <br>Picantes <br>Limon  <br> Caramelo</h2>
				<p>5.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar al carrito</a>
			</div>
	</div>
</div>

<div class="container">
	<div class="card">
		<img src="img/dulces/fruun.jpg" style="width: 220px; height: 190px;">
			<div class="info-card">
				<h2>Frunas</h2>
				<p>$ 500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/dulces/gomi.jpeg" style="width: 200px; height: 190px;">
			<div class="info-card">
				<h2>Gomitas</h2>
				<p>$ 1.500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar al carrito</a>
			</div>
		</div>
		<div class="card">
			<img src="img/dulces/papa.jpg" style="width: 140px; height: 190px;">
				<div class="info-card">
					<h2>Papas Picantes <br>Naturales <br>Pollo</h2>
					<p>5.000</p>
					<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar al carrito</a>
				</div>
		</div>
</div>	

<div class="container">
	<div class="card">
		<img src="img/dulces/pin.png" style="width: 210px; height: 190px;">
			<div class="info-card">
				<h2>Dulces Pinpon</h2>
				<p>$ 400</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/dulces/sna.jpg" style="width: 220px; height: 190px;">
			<div class="info-card">
				<h2>Snikers y Milkyway</h2>
				<p>$ 2.500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/dulces/todo.jpg" style="width: 190px; height: 190px;">
			<div class="info-card">
				<h2>Todo Rico</h2>
				<p>$ 1.800</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar al carrito</a>
				</div>
		</div>
</div>

<div class="container">
	<div class="card">
		<img src="img/dulces/troci.jpg" style="width: 210px; height: 190px;">
			<div class="info-card">
				<h2>Trocipollo</h2>
				<p>$ 800</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="10">Agregar al carrito</a>
				</div>
	</div>
	<div class="card">
		<img src="img/dulces/yo.jpg" style="width: 250px; height: 250px;">
			<div class="info-card">
				<h2>Yogue Pops</h2>
				<p>$ 500</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="11">Agregar al carrito</a>
			</div>
	</div>
	<div class="card">
		<img src="img/dulces/spray.jpg" style="width: 250px; height: 300px;">
			<div class="info-card">
				<h2>Block Iris</h2>
				<p>5.000</p>
				<a href="" class="u-full-width button-primary button input agregar-carrito" data-id="12">Agregar al carrito</a>
			</div>
	</div>
</div>


	<footer class="pie-pagina">
        <div class="grupo-2">
            <small>&copy; 2022 <b>Papeleria La Comarca</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

</body>
</html>