body
{
	background-image: url(../../../images/IMAGES/PEN5.jpg);

	margin: 0;
	padding: 0;
	font-family: sans-serif;

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Forum', cursive;  
}
.logo{
	width: 70px;
	height: 70px;
	border-radius: 15px;

  
}
.icon{
	width: 50px;
	height: 50px;
	text-align: center;
}

.divsup{

	background-color: #38678f;
	z-index: 1;
	height: 50px;
	
}

table
{
	text-align:center;
    width: 98%;
	margin:50px auto;
    background: white;
	border-radius: 20px;
}
th 
{
    background: steelblue;
    height: 40px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
	font-size: 18px;
	

}
tr 
{
    border-bottom: 1px solid #cccccc;
	width:100%;
}
td 
{
    border: 1px solid #314b68;
    padding: 10px;
    transition: all 0.2s;
	font-size: 14px;
	border-radius: 20px;
}
a,input[type="submit"],button
{
	font-size: 14px;
	text-align:center;
	width: 100px;
	display: inline-block;
	background-color:#2f6edb;
	padding: 6px 10px;
	border-radius:10px;
	text-decoration: none;

	cursor:pointer;
}
h1
{
	font-family: sans-serif;
	margin:5px;
}
label
{
	width:250px;
	background-color:#009BFF;
	padding: 20px;
	color:white;
	font-size:24px;
	margin: 20px;
	font-weight: lighter;
	border-radius:10px;
	border:2px solid #f3f3f3;
}

.caja_popup 
{
	display: none;
    position: absolute;
	padding:0;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	border-radius: 15px;
}
.contenedor_popup 
{
	border-radius: 5px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:400px;
	border-radius: 10px;
	transition: all 0.2s;
}
img
{
	width:100px;
	height:100px;
	float:left;
	position:absolute;
	margin-left:2%;
}
.caja_popup2 
{
	display: block;
    position: absolute;
	padding:0;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	border-radius: 10px;
}
#barrabuscar
{
	color:white;
	text-align:right;
}
#cajabuscar
{
	width:500px;
	height:30px;
	font-size:18px;
	background-color:#f3f3f3;
	border-color:white;
	padding-left:10px;
	margin: 0px 30px;
}