*{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px; 
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}
.body{
	

}

.sesion{

	background-image: url(../img/images/PEN0.png);
	background-repeat: repeat;
	margin: auto;
	background-size: 100%;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: absolute;
	
}
.logo{
    width:200px;
    position: absolute;
    top: 5%;
    left:5%;
    border-radius: 60px;
   
}
.logo:hover{
    width: 200px;
    background-repeat: no-repeat;   
    border-radius: 60px;
    filter: saturate(200%);
    transition: 0.5s;

}
.INICIO{
	margin-left: 80px;
	margin-top: 70px;
	padding: 8px;
    transition: all 300ms ease;
    display: inline-block;
    width: 128px;
    border: 2px solid #43638a;
    color: #000000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;


}
.INICIO:hover{
	padding: 8px;
    transition: all 300ms ease;
    display: inline-block;
    width: 128px;
    border: 2px solid #5595df;
    color: #ffffff;
    font-size: 20px;
	background-color: #314b68;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;

}
.titulo{
	
	border: 2px solid #094891;
    color: #ffffff;
    font-size: 27px;
	background-color: #314b68;
	padding: 50px;
	text-align: center;

	margin-top: 20px;
	color: rgb(255, 255, 255);
}


ul li  {
	list-style: none;
	color: white;
}
ul li a:hover {
	color: #00B6FF;
}
ul li a {
	text-decoration: none;
}

/*Categorias*/

.box-card{
	align-items: start;
	margin: 0 0 1rem;
	height: 10rem;
	display: flex;
	position: absolute;
	 top: 5em;
	 left: 11em;
}

.card {
	position: relative;
	width: 300px;
	height: 350px;
	float:left;
	display: flex;
	max-width: 220vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	margin: 20px;
	
	
}
.card .face  {
	position: absolute;
	width: 280px;
	height: 320px;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: 3s;
}
.card .front {
	transform: perspective(600px) rotate (0deg);
	box-shadow: 0 5px 10px #000;
}
.card .front img {
	position:absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card .front h3{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color:#fff;
	background: rgba(0, 0, 0, .4);
	text-align: center;
}
.card .back {
	transform: perspective(600px) rotateY(180deg);
	background: rgba(197, 204, 207, 0.801);
	padding: 15px;
	color: #050505;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #000; 
}
 
.card .back .link {
	border-top: solid 1px #f3f3f3;
	height: 50px;
	line-height: 50px;

}

.card .back .link a {
	color: #f3f3f3

}

.card .back h3 {
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.card .back p{
	letter-spacing: 1px;
}

.card:hover .from {
	transform: perspective(600px) rotateY(180deg)
}
.card:hover .back {
	transform: perspective(700px) rotateY(360deg)
}


