* {
	box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5),#1e4f6f), url(/PAPELERIALACOMARCA/images/fondo-1.jpg.);
    background-size: cover;
    background-position: center;
    height: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1700px;
	width: 80%;
	margin: auto;
}

.Alinear_Flex{
	display: flex;
	justify-content: center;
	margin-right: -250px;
	margin-left: 100px;
	width: 1200px;
	height: 300px;

}

/*----ventana emergente*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(0,0,0,0.5),#1e4f6f), url(/PAPELERIALACOMARCA/images/fondo-1.jpg.);
	background-size: cover;
    background-position: center;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
  }

button {
  background-color: #4b4d4e;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #ebeff1;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.5),#1e4f6f);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: none;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	font-family: 'Kaushan Script', cursive;
	color: #fff;


}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
	
}

.contenido-principal__contenedor {
	width: 50%;
	font-family: 'Kaushan Script', cursive;
	color: #fff;

}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;

}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}


/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(40% - 25px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;

}

.carousel__siguiente {
	right: -30px;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}

@font-face {
	font-family: fuenteLinda;
	src: url(GrapeNuts-Regular.ttf);
	src: url(IndieFlower-Regular.ttf);
	src: url(Lora-Italic-VariableFont_wght.ttf);
	
}

}
body{
	font-family: fuenteLinda
}


